*{
    font-size: 30px;
    font-weight: 500;
}
h3{
    color: blue;
}
h4{
    color: palegreen;
}
.myclass{
    color: darkgoldenrod
}
#myid{
    color: mediumpurple;
}
h5,p{
    color: maroon;
}